
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .history-items{
  
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
.history-items_values{
  
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

} */